@model WebApplication2.Models.Inventory

@{
    ViewBag.Title = "InventoryEdit";

    List<SelectListItem> list = new List<SelectListItem>()
{
    new SelectListItem()
    {
        Text="--請選擇--",
        Value="0"
        }
};
}

@section style{
    <style>
        * {
            font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",標楷體;
        }
    </style>
}

<h2>InventoryEdit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Inventory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.InventoryID)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductID, "ProductID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductID", list, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MilliliterID, "MilliliterID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MilliliterID", list, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MilliliterID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShelfID, "ShelfID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ShelfID", list, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShelfID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default"><span class="fa fa-save"></span>儲存</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //$('#DDL_Category').change(function () {
        //    let categoryid = $(this).val();
        //    ProductData(categoryid);
        //})

        function ProductData(id) {

            $.post("@Url.Action("GetProduct", "Query")", { 'id': id },
                function (datas) {
                    $('#ProductID').empty();
                    //if ($('#DDL_Product').html == null) {
                    //    var op = $('<option></option>');
                    //    op.text("--請選擇--");
                    //    op.val('0');
                    //    $('#DDL_Product').append(op);
                    //}
                    $.each(datas, function (Idx, data) {
                        var op = $('<option></option>');
                        op.text(data.ProductName);
                        op.val(data.ProductID);
                        $('#ProductID').append(op);
                    })
                   $('#ProductID option[value="@Model.ProductID"]').attr('selected',true);
                })
        }

        function MillilterData() {
            $.post("@Url.Action("GetMillilter", "Query")", function (datas) {
                $.each(datas, function (Idx, data) {
                    var op = $('<option></option>');
                    op.text(data.MilliliterName);
                    op.val(data.MilliliterID);
                    $('#MilliliterID').append(op);
                })
                $('#MilliliterID option[value="@Model.MilliliterID"]').attr('selected',true);
            })
        }

        function ShelfData() {
            $.post("@Url.Action("GetShelf", "Query")", function (datas) {
                $.each(datas, function (Idx, data) {
                    var op = $('<option></option>');
                    op.text(data.ShelfPosition);
                    op.val(data.ShelfID);
                    $('#ShelfID').append(op);
                })
                $('#ShelfID option[value="@Model.ShelfID"]').attr('selected',true);
            })
        }

        @*function CategoryData() {
            $.getJSON("@Url.Action("GetCategory", "Query")", function (datas) {
                $.each(datas, function (Idx, data) {
                    var op = $('<option></option>');
                    op.text(data.CategoryName);
                    op.val(data.CategoryID);
                    $('#DDL_Category').append(op);
                })
            })
        }*@

        $(function () {
            //CategoryData();
            ProductData();
            MillilterData();
            ShelfData();


        })
    </script>
}
