@model IEnumerable<WebApplication2.Models.Inventory>
@{
    ViewBag.Title = "Index";

    List<SelectListItem> list = new List<SelectListItem>() { new SelectListItem() { Text = "--請選擇--", Value = "0" } };

    int count = 0;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2>庫存查詢</h2>
    </div>
    <div class="card-body">

        @using (Html.BeginForm())
        {
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="TB_ProductID" id="LB_ProductID">商品編號：</label>
                </div>
                <div class="col-sm-3">
                    @Html.TextBox("TB_ProductID", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="DDL_Category" id="LB_Category">分類：</label>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("DDL_Category", list, new { @class = "form-control" })

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <label for="DDL_Product" id="LB_Product">商品名稱：</label>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("DDL_Product", list, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="DDL_Millilter" id="LB_Millilter">容量：</label>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("DDL_Millilter", list, new { @class = "form-control" })
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="DDL_Shelf" id="LB_Shelf">倉儲位置：</label>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("DDL_Shelf", list, new { @class = "form-control" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-search"></span>&nbsp;查詢
            </button>
        }
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header">
        <h3>庫存列表</h3>
    </div>
    <div class="card-body">
        <table id="InventoryTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>商品編號</th>
                    <th>商品名稱</th>
                    <th>容量</th>
                    <th>總數</th>
                    <th>倉儲位置</th>
                    @if (Session["IdentityCode"] != null && (string)Session["IdentityCode"] == "B")
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@Html.DisplayFor(modelitem => item.ProductID)</td>
                            <td>@Html.DisplayFor(modelitem => item.Product.ProductName)</td>
                            <td>@Html.DisplayFor(modelitem => item.Milliliter.capacity)
                                ml
                            </td>
                            <td>@Html.DisplayFor(modelitem => item.Quantity)</td>
                            <td>@Html.DisplayFor(modelitem => item.Shelf.ShelfPosition)</td>
                            @if (Session["IdentityCode"] != null && (string)Session["IdentityCode"] == "B")
                            {
                                <td class="text-center">
                                    <a id="Btn_Edit" href="@Url.Action("InventoryEdit", "Query", new { id = item.InventoryID })" class="btn btn-success"><span class="fa fa-edit"></span>&nbsp;編輯</a>
                                    <button id="Btn_Delete" data-InventoryId="@item.InventoryID" class="btn btn-danger"><span class="fa fa-trash"></span>&nbsp;刪除</button>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>


        $('#DDL_Category').change(function () {
            let categoryid = $(this).val();
            ProductData(categoryid);
        })

        function ProductData(id) {
            $.post("@Url.Action("GetProduct", "Query")", { 'id': id },
                function (datas) {
                    $('#DDL_Product').empty();
                    var all = $('<option></option>')
                    all.text('--請選擇--');
                    all.val('0');
                    $('#DDL_Product').append(all);
                    $.each(datas, function (Idx, data) {
                        var op = $('<option></option>');
                        op.text(data.ProductName);
                        op.val(data.ProductID);
                        $('#DDL_Product').append(op);
                    })
                })
        }

        function MillilterData() {
            $.post("@Url.Action("GetMillilter", "Query")", function (datas) {
                $.each(datas, function (Idx, data) {
                    var op = $('<option></option>');
                    op.text(data.MilliliterName);
                    op.val(data.MillilterID);
                    $('#DDL_Millilter').append(op);
                })
            })
        }

        function ShelfData() {
            $.post("@Url.Action("GetShelf", "Query")", function (datas) {
                $.each(datas, function (Idx, data) {
                    var op = $('<option></option>');
                    op.text(data.ShelfPosition);
                    op.val(data.ShelfID);
                    $('#DDL_Shelf').append(op);
                })
            })
        }

        function CategoryData() {
            $.getJSON("@Url.Action("GetCategory", "Query")", function (datas) {
                $.each(datas, function (Idx, data) {
                    var op = $('<option></option>');
                    op.text(data.CategoryName);
                    op.val(data.CategoryID);
                    $('#DDL_Category').append(op);
                })
            })
        }


        $('[id="Btn_Delete"]').click(function () {
            var invid = $(this).attr("data-InventoryId");
            if (confirm("是否確認刪除此資料？") == true) {
                Delete(invid)
            }
        })

        function Delete(id) {
            $.post("@Url.Action("InventoryDelete","Query")", { 'inventoryid': id },
                function (datas) {
                    alert(datas);
                    location.reload();
                })
        }

        $(function () {
            CategoryData();
            ProductData();
            MillilterData();
            ShelfData();

            $('#InventoryTable').DataTable({
                paging: true,
                searching: false,
                ordering: true,
                lengthChange: true,
                language: {

                    lengthMenu: '<label>顯示</label><select class="custom-select custom-select-sm form-control form-control-sm">' + '<option value="10">10</option>' + '<option value="20">20</option>' + '<option value="30">30</option>' + '<option value="40">50</option>' + '<option value="50">100</option>' + '</select><label>筆</label>',

                    paginate: {
                        previous: "上一頁",
                        next: "下一頁",
                        first: "第一頁",
                        last: "最後一頁"
                    },
                    zeroRecords: "無資料",
                    info: "總共 _PAGES_ 頁，顯示第 _START_ 筆 到第 _END_ 筆。",
                    infoEmpty: "無紀錄",
                    infoFiltered: "",

                },
                pagingType: "full_numbers"
            });
        })
    </script>

}
