@model WebApplication2.ModelViews.QueryModelByView

@{
    ViewBag.Title = "訂單查詢";

    List<SelectListItem> list = new List<SelectListItem>() { new SelectListItem() { Text = "--請選擇--", Value = "0" } };

}
@section style{
    <style>
        @@font-face {
            font-family: 'Glyphicons Halflings';
            src: url('../fonts/glyphicons-halflings-regular.eot');
            src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
        }

        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        #OrderTable_paginate li {
            margin-left: -2px;
            padding: 0px;
            text-align: right;
        }

            #OrderTable_paginate li a {
                position: relative;
                display: block;
                padding: 0.5rem 0.75rem;
                margin-left: -1px;
                line-height: 1.25;
                color: #4e73df;
                background-color: #fff;
                border: 1px solid #dddfeb;
                text-align: right;
            }

                #OrderTable_paginate li a:hover {
                    z-index: 2;
                    color: #224abe;
                    text-decoration: none;
                    background-color: #eaecf4;
                    border-color: #dddfeb;
                }

                #OrderTable_paginate li a:focus {
                    z-index: 2;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
                }

            #OrderTable_paginate li:first-child a {
                margin-left: 0;
                border-top-left-radius: 0.35rem;
                border-bottom-left-radius: 0.35rem;
            }

            #OrderTable_paginate li:last-child a {
                border-top-right-radius: 0.35rem;
                border-bottom-right-radius: 0.35rem;
            }

            #OrderTable_paginate li.active a {
                z-index: 1;
                color: #fff;
                background-color: #4e73df;
                border-color: #4e73df;
            }

            #OrderTable_paginate li.disabled a {
                color: #858796;
                pointer-events: none;
                cursor: auto;
                background-color: #fff;
                border-color: #dddfeb;
            }
    </style>
}
<div class="card shadow mb-4">
    <div class="card-header py-2 d-flex flex-row">
        <h3>訂單查詢</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="tborderid" id="lborderid">訂單編號：</label>
                </div>
                <div class="col-sm-3">
                    @Html.TextBox("TB_OrderID", "", new { @class = "form-control", @autocomplete = "off" })

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <label for="selw" id="lbw">酒莊：</label>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("DDL_Winery", list, new { @class = "form-control" })
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="tbCustomer" id="lbw">客戶名稱：</label>
                </div>
                <div class="col-sm-3">
                    @Html.TextBox("TB_CustomerName", "", new { @class = "form-control", @autocomplete = "off" })
                </div>
                <div class="col-sm-8"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="tbCategory" id="lbCategory">分類：</label>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("DDL_Category", list, new { @class = "form-control" })
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <label for="tbProduct" id="lbProduct">商品名稱：</label>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("DDL_Product", list, new { @class = "form-control" })
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="D_OrderDate" id="lbOrderDate">訂購時間：</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="D_OrderDate" name="D_OrderDate" class="form-control is-vaid" autocomplete="off" />
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <label for="D_RequiredDate" id="lbRequiredDate">時間：</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="D_RequiredDate" name="D_RequiredDate" class="form-control is-vaid" autocomplete="off" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-1">
                    <label for="D_ShippedDate" id="lbShippedDate">出貨時間：</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="D_ShippedDate" name="D_ShippedDate" class="form-control is-vaid" autocomplete="off" />
                </div>
                <div class="col-sm-8"></div>
            </div>
            <button type="submit" id="" class="btn btn-primary"><span class="fa fa-search"></span>&nbsp;查詢</button>
        }
    </div>
</div>
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3 ">
        <h3>訂單列表</h3>
    </div>
    <div class="card-body">
        <div class="">
            <div class="dataTables_wrapper">
                <div class="row">
                    <div></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="OrderTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order.OrderID)
                                    </th>
                                    <th>
                                        酒莊
                                    </th>
                                    <th>
                                        客戶名稱
                                    </th>
                                    <th>
                                        訂購時間
                                    </th>
                                    <th>
                                        時間
                                    </th>
                                    <th>
                                        出貨時間
                                    </th>
                                    <th>
                                        備註
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Orderlist != null)
                                {
                                    foreach (var item in Model.Orderlist)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Winery.WineryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RequiredDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShippedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Note)
                                            </td>
                                            <td class="text-center">
                                                <a id="btnEdit" class="btn btn-success" href="@Url.Action("OrderEdit", "Query", new { id = item.OrderID })">
                                                    <span class="fa fa-edit"></span>&nbsp;編輯
                                                </a>
                                                <button id="Details" data-OrderID="@item.OrderID" data class="btn btn-info">
                                                    <span class="fa fa-sticky-note"></span>&nbsp;明細
                                                </button>
                                                <a id="btnDelete" class="btn btn-danger" href="#" data-id="@item.OrderID">
                                                    <span class="fa fa-trash"></span>&nbsp;刪除
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog" title="訂單明細">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <div class="col-lg-2">
                        訂單編號：
                    </div>
                    <div class="col-lg-4">
                        <label id="Dlog_OrderID"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        酒莊：
                    </div>
                    <div class="col-lg-4">
                        <label id="Dlog_Winery"></label>
                    </div>
                    <div class="col-lg-2">
                        客戶名稱：
                    </div>
                    <div class="col-lg-4">
                        <label id="Dlog_Customer"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        訂購時間：
                    </div>
                    <div class="col-lg-4">
                        <label id="Dlog_OrderData"></label>
                    </div>
                    <div class="col-lg-2">
                        時間：
                    </div>
                    <div class="col-lg-4">
                        <label id="Dlog_RequiredDate"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2">
                        出貨時間：
                    </div>
                    <div class="col-lg-4">
                        <label id="Dlog_ShipperData"></label>
                    </div>
                </div>
            </form>
            <div class="form-group row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>編號</th>
                            <th>產品編號</th>
                            <th>產品名稱</th>
                            <th>數量</th>
                        </tr>
                    </thead>
                    <tbody id="Dlog_Product_tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">刪除訊息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>是否確認刪除?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="dialogclick">確認</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

    $('#DDL_Category').change(function () {
        let categoryid = $(this).val();
        ProductData(categoryid);
        })

        function ProductData(id) {
            $.post("@Url.Action("GetProduct", "Query")", { 'id': id },
                function (datas) {
                    $('#DDL_Product').empty();
                    var allop = $('<option></option>');
                    allop.text("--請選擇--");
                    allop.val('0');
                    $('#DDL_Product').append(allop);
                    $.each(datas, function (Idx, data) {
                        var op = $('<option></option>');
                        op.text(data.ProductName);
                        op.val(data.ProductID);
                        $('#DDL_Product').append(op);
                    })
                })
            }

    function WineryData() {
        $.getJSON("@Url.Action("GetWinery", "Query")", function (datas) {
            $.each(datas, function (Idx, data) {
                var op = $('<option></option>');
                op.text(data.WineryName);
                op.val(data.WineryID);
                $('#DDL_Winery').append(op);
            })
        })
    }

    function CategoryData() {
        $.getJSON("@Url.Action("GetCategory", "Query")", function (datas) {
            $.each(datas, function (Idx, data) {
                var op = $('<option></option>');
                op.text(data.CategoryName);
                op.val(data.CategoryID);
                $('#DDL_Category').append(op);
            })
        })
    }

        $('[id="btnDelete"]').on('click', function () {
            var id = $(this).attr('data-id');
            $('#dialogclick').attr('data-id', id);
            $('#DeleteDialog').modal('show');
        })

        $('#dialogclick').click(function () {
            var id = $(this).attr('data-id');
            $.post("@Url.Action("OrderDelete","Query")", { 'id': id },
                function (datas) {
                    $('#DeleteDialog').modal('hide');
                    alert(datas);
                    location.reload();
                })
        })


    $(function () {
        WineryData();
        CategoryData();
        ProductData();
        $('#D_OrderDate').datepicker({ dateFormat: "yy/mm/dd" });
        $('#D_RequiredDate').datepicker({ dateFormat: "yy/mm/dd" });
        $('#D_ShippedDate').datepicker({ dateFormat: "yy/mm/dd" });

        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            width: 1000,
            height: 800,
            show: {
            },
            hide: {
            }
        });

        $('#OrderTable').DataTable({
            paging: true,
            searching: false,
            ordering: true,
            lengthChange: false,
            language: {

                lengthMenu: '<div class="row"><div class="col-sm-4"><label>顯示</label></div><div class="col-sm-8"><select class="form-control input-xsmall">' + '<option value="10">10</option>' + '<option value="20">20</option>' + '<option value="30">30</option>' + '<option value="40">50</option>' + '<option value="50">100</option>' + '</select></div></div>',

                paginate: {
                    previous: "上一頁",
                    next: "下一頁",
                    first: "第一頁",
                    last: "最後一頁"
                },
                zeroRecords: "無資料",
                info: "總共 _PAGES_ 頁，顯示第 _START_ 筆 到第 _END_ 筆。",
                infoEmpty: "無紀錄",
                infoFiltered: "",

            },
            pagingType: "full_numbers"
        });
        $('#OrderTable_wrapper').removeClass('form-inline');

        $('[id = "Details"]').on("click", function () {
            $("#dialog").dialog("open");
            let orderid = $(this).attr('data-OrderID');
            $.post("@Url.Action("Dialog_Order", "Query")",// "/Query/Dialog_Order"
                { 'id': orderid },
                function (datas) {
                    //console.log(datas);
                    $.each(datas, function (idx, data) {
                        var orderdata, shipperData,requiredDate;
                        if (data.OrderDate != null) {
                            orderdata = new Date(parseInt(data.OrderDate.replace(/(^.*\()|([+-].*$)/g, ''))).toLocaleDateString();
                        }
                        else {
                            orderdata = null;
                        }
                        if (data.ShippedDate != null) {
                            shipperData = new Date(parseInt(data.ShippedDate.replace(/(^.*\()|([+-].*$)/g, ''))).toLocaleDateString();
                        }
                        else {
                            shipperData = null;
                        }
                        if (data.RequiredDate != null) {
                            requiredDate = new Date(parseInt(data.RequiredDate.replace(/(^.*\()|([+-].*$)/g, ''))).toLocaleDateString();
                        }
                        else {
                            requiredDate = null;
                        }
                        $('#Dlog_OrderID').text(data.OrderID);
                        $('#Dlog_Winery').text(data.WineryName);
                        $('#Dlog_Customer').text(data.CustomerName);
                        $('#Dlog_OrderData').text(orderdata);
                        $('#Dlog_RequiredDate').text(requiredDate);
                        $('#Dlog_ShipperData').text(shipperData);
                    })
                }
            )
            $.post("@Url.Action("Dialog_OrderDetail", "Query")", // "/Query/Dialog_OrderDetail"
                { 'id': orderid ,'pid':null},
                function (datas) {
                    $('#Dlog_Product_tbody').empty();
                    let count = 0;
                    $.each(datas, function (idx, data) {
                        count = count+1;
                        var tr = $('<tr></tr>')
                        var counts = $('<td></td>').text(count);
                        var pid = $('<td></td>').text(data.ProductID);
                        var pname = $('<td></td>').text(data.ProductName);
                        var pq = $('<td></td>').text(data.Quantity);
                        tr.append(counts).append(pid).append(pname).append(pq);
                        $('#Dlog_Product_tbody').append(tr);
                    })
                }
            )
        });
    })

    </script>

}