@model WebApplication2.ModelViews.QueryModelByView

@{
    ViewBag.Title = "OrderEdit";

    List<SelectListItem> list = new List<SelectListItem>(){new SelectListItem(){Text="--請選擇--",Value="0"}
};

}

<div>
    @Html.ActionLink("回查詢頁面", "OrderQuery", null, htmlAttributes: new { @class = "btn btn-info" })
</div>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card shadow">
        <div class="card-header py-3">
            <h3>訂單編輯</h3>
        </div>
        <div class="card-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Order.OrderID)
                <div class="form-group row">
                    <div class="col-sm-1">
                        @Html.LabelFor(model => model.Order.WineryID, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Order.Winery.WineryName, htmlAttributes: new { @class = "form-control", @ReadOnly = "true" , @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Order.WineryID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        @Html.LabelFor(model => model.Order.CustomerName, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-3">
                        @Html.EditorFor(model => model.Order.CustomerName, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Order.CustomerName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">
                        @Html.LabelFor(model => model.Order.OrderDate, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control text-box single-line" autocomplete="off" data-val="true" data-val-date="欄位 OrderDate 必須是日期。" data-val-required="OrderDate 欄位是必要項。" id="Order_OrderDate" name="Order.OrderDate" type="datetime" value="@Model.Order.OrderDate.ToShortDateString()">
                        @*@Html.EditorFor(model => model.Order.OrderDate, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Order.OrderDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        @Html.LabelFor(model => model.Order.RequiredDate, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-3">
                        
                        @Html.EditorFor(model => model.Order.RequiredDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Order.RequiredDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">
                        @Html.LabelFor(model => model.Order.ShippedDate, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-3">
                        
                        @Html.EditorFor(model => model.Order.ShippedDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Order.ShippedDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1">
                        @Html.LabelFor(model => model.Order.Note, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Order.Note, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Order.Note, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="儲存" class="btn btn-success"  />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br />
<div class="card shadow">
    <div class="card-header py-3"></div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        產品編號
                    </th>
                    <th>
                        產品名稱
                    </th>
                    <th>
                        訂購數量
                    </th>
                    <th class="text-center">
                        <button id="Btn_Add" class="btn btn-primary"><span class="fa fa-plus"></span>&nbsp;新增</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{int count = 0; }
                @foreach (var item in Model.Order_details)
                {

                    <tr id="@count" data-item="@item.OrderID,@item.ProductID,@item.Quantity">
                        <td id="productid">
                            @Html.DisplayFor(modelitem => item.ProductID)
                        </td>
                        <td id="productname">
                            @Html.DisplayFor(modelitem => item.Product.ProductName)
                        </td>
                        <td id="quantity">
                            @Html.DisplayFor(modelitem => item.Quantity)
                        </td>
                        <td class="text-center">
                            <button id="btnEdit" data-count="@count" data-Orderid="@item.OrderID" data-Prodcutid="@item.ProductID" class="btn btn-success"><span class="fa fa-edit"></span>&nbsp;編輯</button>
                            <button id="btnDelete" data-count="@count" class="btn btn-danger"><span class="fa fa-trash"></span>&nbsp;刪除</button>
                        </td>
                        @{count++;
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="EditDialog" title="">
    <div class="container">
        @*<div class="form-group row">
                <div class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Order.Order_Details.ProductID)
                </div>
                <div class="col-sm-6">
                    @Html.TextBox("Dlog_ProductID","",htmlAttributes:new { @class="form-control"})
                </div>
            </div>*@

        <div class="form-group row">
            <div class="col-sm-3">
                產品名稱
            </div>
            <div class="col-sm-6">
                <select id="Dlog_ProductName" name="Dlog_ProductName" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                訂購數量
            </div>
            <div class="col-sm-6">
                @Html.TextBox("Dlog_Quantity", "", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button id="Btn_Sava" class="btn btn-primary"><span class="fa fa-save"></span>&nbsp;儲存</button>
                <button id="Btn_Not" class="btn btn-danger"><span class="fa fa-times"></span>&nbsp;取消</button>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>

    function ProductData() {
        $.post("@Url.Action("GetProduct", "Query")", { 'id': null}, function (datas) {
            $.each(datas, function (Idx, data) {
                var op = $('<option></option>');
                op.text(data.ProductName);
                op.val(data.ProductID);
                $('#Dlog_ProductName').append(op);
            })
        })
    }

        function WineryData() {
            $.getJSON("@Url.Action("GetWinery","Query")", function (datas) {
                $.each(datas, function (Idx, data) {
                    var op = $('<option></option>');
                    op.text(data.WineryName);
                    op.val(data.WineryID);
                    $('#DDL_Winery').append(op);
                })
                $('#DDL_Winery option[value=@Model.Order.WineryID]').attr('selected', true);
            })
        }

        $("#EditDialog").dialog({
            autoOpen: false,
            modal: true,
            width: 600,
            height: 400,
            show: {
            },
            hide: {
            }
    });

        $(function () {
            WineryData();
            ProductData();
            $('#Order_OrderDate').datepicker({ dateFormat: "yy/mm/dd" });
            $('#Order_ShippedDate').datepicker({ dateFormat: "yy/mm/dd" });
            $('#Order_RequiredDate').datepicker({ dateFormat: "yy/mm/dd" });

            $('[id="btnEdit"]').on('click', function () {
                $('#EditDialog').dialog("open");
                var orderid = $(this).attr('data-Orderid');
                var productid = $(this).attr('data-Prodcutid');
                var tid = $(this).attr('data-count');
                var titem = $('#'+tid).attr('data-item');
                $.post("@Url.Action("Dialog_OrderDetail","Query")",
                    { 'id': orderid, 'pid': productid },
                    function (datas) {
                            $('#Dlog_ProductName').val(datas[0].ProductID);
                        $('#Dlog_Quantity').val(datas[0].Quantity);
                        $('#Btn_Sava').attr('data-model', 'Edit');
                        $('#Btn_Sava').attr('data-td', titem);
                    })
            });

            $('[id="Btn_Sava"]').on('click', function () {
                let model = $(this).attr('data-model');
                var oid ='@Model.Order.OrderID';
                var pid = $('#Dlog_ProductName :selected').val();
                var qty = $('#Dlog_Quantity').val();
                var tdid = $(this).attr('data-td');
                
                Dodialog(model, oid, pid, qty, tdid);
            });

            function Dodialog(model, oid, pid, qty, tdid) {
                if (model == 'Insert') {
                    $.post("@Url.Action("Order_DetailInsert","Query")", { 'oid': oid, 'pid': pid, 'qty': qty },
                        function (datas) {
                            alert(datas); 
                            $('#EditDialog').dialog("close");
                            location.reload();
                        })
                }
                else if (model == 'Edit') {
                    $.post("@Url.Action("Order_DetailEdit","Query")", { 'item': tdid, 'oid': oid, 'pid': pid, 'qty': qty },
                        function (datas) {
                            alert(datas);
                            $('#EditDialog').dialog("close");
                            location.reload();
                        })
                }
            }

            $('[id="Btn_Add"]').on('click', function () {
                $('#Dlog_ProductName option[value=1]').attr('selected', true);
                $('#Dlog_Quantity').val("");
                $('#Dlog_Quantity').text("");
                $('#Btn_Sava').attr('data-model', 'Insert');
                
                $('#EditDialog').dialog("open");
            })

            $('[id="Btn_Not"]').on('click', function () {
                $('#EditDialog').dialog("close");
            });

            $('[id="btnDelete"]').on('click', function () {
                var tid = $(this).attr('data-count');
                var titem = $('#' + tid).attr('data-item');
                $.post("@Url.Action("OrderDetailDelete", "Query")", { 'item': titem },
                    function (datas) {
                        if (datas != null) {

                        }
                        $('#EditDialog').dialog("close");
                        alert('刪除完成');
                        location.reload();
                    })
            });
        })


</script>
}
