@model WebApplication4.ViewModel.OrderInputViewModel
@{

    ViewBag.Title = "OrderInputPage";

}

@*@section style{
        @System.Web.Optimization.Styles.Render("~/Content/css")
    }*@

@section style{
    <style>
        #wineryspan {
            font-size: 26px;
            color: black;
            background-color: #ACD6FF;
            margin-right: 15px;
            border-radius: 3px;
            padding: 5px;
        }
    </style>
}

@*訂單輸入欄位*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4>訂單輸入</h4>
    </div>
    @*輸入列*@
    <div class="card-body">
        @*酒莊欄位行*@
        <div class="form-group row">
            <div class="col-sm-1">
                <label id="Winery">酒莊：</label>
            </div>
            <div class="col-sm-4">
                <select class="form-control" id="WineryData">
                    @foreach (var i in Model.Winerys)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>

        @*產品分類*@
        <div class="form-group row">
            <div class="col-sm-1">
                <label id="category">分類：</label>
            </div>
            <div class="col-sm-4">
                <select id="CategoryData" class="form-control">
                    @foreach (var i in Model.Categoerys)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>

        @*品名 數量 容量*@
        <div class="form-group row">
            <div class="col-sm-1">
                <label id="productName">品名：</label>
            </div>
            <div class="col-sm-3">
                <select id="ProductNameData" class="form-control"></select>
            </div>
            <div class="col-sm-1">
                <label id="Quantity">數量：</label>
            </div>
            <div class="col-sm-2">
                <input type="number" id="QuantityData" class="form-control" />
            </div>
        </div>

        @*客戶姓名電話*@
        <div class="form-group row">
            <div class="col-sm-1">
                <label id="CustomerName">客戶姓名：</label>
            </div>
            <div class="col-sm-3">
                <input type="text" id="CustomerNameData" placeholder="請輸入姓名" class="form-control" />
            </div>
            <div class="col-sm-1">
                <label id="Telphone">電話：</label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="TelphoneData" placeholder="請輸入電話" class="form-control" />
            </div>
        </div>

        @*客戶地址*@
        <div class="form-group row">
            <div class="col-sm-1">
                <label id="Address">地址：</label>
            </div>
            <div class="col-sm-6">
                <input type="text" id="AddressData" placeholder="請輸入地址" class="form-control" />
            </div>
        </div>

        @*日期*@
        <div class="form-group row">
            <div class="col-sm-1">
                <label>出貨日期：</label>
            </div>
            <div class="col-sm-3">
                <input type="date" id="ShippedDateData" class="form-control" />
            </div>
        </div>

        @*NOTE行*@
        <div class="form-group row">
            <div class="col-sm-1">
                <label id="Note">備註：</label>
            </div>
            <div class="col-sm-6">
                <input type="text" id="NoteData" class="form-control" />
            </div>
        </div>

        @*ADD和確認修改*@
        <div class="form-group row">
            <div class="col-sm-1">
                <button id="AddButton" class="btn btn-primary">加入</button>
                <button id="ConfirmButton" class="btn btn-warning" data-row="">確認修改</button>
            </div>
        </div>
    </div>
</div>

@*顯示已輸入區*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4>新增列表</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">酒莊</th>
                    <th scope="col">分類</th>
                    <th scope="col">品名</th>
                    <th scope="col">數量</th>
                    <th scope="col">客戶姓名</th>
                    <th scope="col">客戶電話</th>
                    <th scope="col">客戶地址</th>
                    <th scope="col">運送日期</th>
                    <th scope="col">備註</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="AppendTarget"></tbody>
        </table>

        @*送出按紐*@
        <div class="form-group row">
            <div class="col-sm-1">
                <button id="sendButton" class="btn btn-primary" onclick="return confirm('訂單確認？')">送出</button>
            </div>
        </div>
    </div>

    <div id="testArea">

    </div>
</div>
@section scripts{
    @*@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
        @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")*@
    @*Read model to js*@
    <script type="text/javascript">
        var data = @Html.Raw(Json.Encode(Model.ProductsDatas));
        var urlToPost = "@Url.Action("InputPagePost")";
    </script>
    <script src="~/Scripts/OrderInput.js"></script>
}

