@model WebApplication2.Models.Product

@{
    ViewBag.Title = "庫存編輯";

    List<SelectListItem> list = new List<SelectListItem>() { new SelectListItem() { Text = "--請選擇--", Value = "0" } };
}

<div class="card shadow">
    <div class="card-header">
        <h2>庫存編輯</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProductID)

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, "產品名稱", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model=>model.ProductName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.MilliliterID, "容量", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownList("MilliliterID", list, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MilliliterID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Quantity,"庫存量", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShelfID, "倉儲位置", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownList("ShelfID", list, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShelfID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-warning"><span class="fa fa-save"></span>&nbsp;儲存</button>
                        <a href="#" onclick="javascript: history.back()" class="btn btn-danger"><span class="fa fa-times"></span>&nbsp;取消</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        @*function ProductData() {
            $.post("@Url.Action("GetProduct", "Query")", {'id':0},
                function (datas) {
                    $('#ProductID').empty();
                    
                        $.each(datas, function (Idx, data) {
                            var op = $('<option></option>');
                            op.text(data.ProductName);
                            op.val(data.ProductID);
                            $('#ProductID').append(op);
                        })
                            $('#ProductID option[value="@Model.ProductID"]').attr('selected', true);
                })
        }*@

        @*function MillilterData() {
            $.post("@Url.Action("GetMillilter", "Query")", function (datas) {
                if (datas != null) {
                    $.each(datas, function (Idx, data) {
                        var op = $('<option></option>');
                        op.text(data.MilliliterName+"ml");
                        op.val(data.MilliliterID);
                        $('#MilliliterID').append(op);
                    })
                    $('#MilliliterID option[value="@Model.MilliliterID"]').attr('selected', true);
                }
            })
        }*@

        function ShelfData() {
            $.post("@Url.Action("GetShelf", "Query")", function (datas) {
                if (datas != null) {
                    $.each(datas, function (Idx, data) {
                        var op = $('<option></option>');
                        op.text(data.ShelfPosition);
                        op.val(data.ShelfID);
                        $('#ShelfID').append(op);
                    })
                    $('#ShelfID option[value="@Model.ShelfID"]').attr('selected', true);
                }
            })
        }

        $(function () {
            //ProductData();
            //MillilterData();
            ShelfData();
        })
    </script>
}
