@model IQueryable<WebApplication2.Models.Order>

@{
    ViewBag.Title = "pick";
}
@section css
    {
    <style>
        #CanDrive, #Can_not_Drive {
            cursor: pointer
        }

        .orderPick {
            margin-right: 5px;
        }

        .btn-cancle {
            margin-left: 5px;
        }

        .container {
            text-align: center;
        }

        #Add {
            position: relative;
            left: 430px
        }
    </style>
}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="CanDrive">可出貨</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Can_not_Drive">缺貨</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div>
                <table class="table table-bordered" id="table_order">
                    <thead>
                        <tr>
                            <th>訂單編號</th>
                            <th>送貨日期</th>
                            <th>狀態</th>
                            <th>詳細資料</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_For_Order">
                        @foreach (var item in Model)
                        {
                            string status = "";
                            if (item.Status == "C")
                            {
                                status = "可揀貨";
                            }
                            else
                            {
                                status = "已完成";
                            }
                            <tr>
                                <td>@item.OrderID</td>
                                <td>@item.RequiredDate</td>
                                <td>@status</td>
                                <td>
                                    <input type="button" class="btn btn-success orderPick" value="揀貨" data-orderpick="@item.OrderID" />
                                    <input type="button" class="btn btn-danger btn_orderDetail" value="詳細資料..." data-orderId="@item.OrderID " />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div id="dialog">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>訂單編號</th>
                                <th>品名</th>
                                <th>數量</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table_orderDetail"></tbody>
                    </table>

                </div>
            </div>

        </div>


        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
</div>



@section scripts
    {
    <script>
        //$(function () {
        //    $("#dialog").dailog({
        //        autoOpen: false,
        //        show: {
        //            effect: "blind",
        //            duration: 1000
        //        },
        //        hide: {
        //            effect: "explode",
        //            duration: 1000
        //        }
        //    });

        //    $("#opener").on("click", function () {
        //        $("#dialog").dialog("open");
        //    });
        //});

    </script>

    <script>

        /* $('.btn_orderDetail').click(function () {
              var id = $(this).attr('data-orderId');
              console.log($('#table_orderDetail').children());

              $('#table_orderDetail').children().remove();

              $.get("/Home/order_Detail",{orderID: id},
                  function (datas) {

                      $(datas).each(function (idx, value) {


                          var tr = $('<tr></tr>')
                          var td1 = $('<td></td>')
                          var td2 = $('<td></td>')
                          var td3 = $('<td></td>')
                          var td4 = $('<td class="td_Fix"></td>')
                          var button = $('<input type="button" value="修改" class="btn btn-danger btn_Fix" data-OrderDetailID="' + value.OrderID + '"/>')

                          td1.text(value.OrderID)
                          td2.text(value.ProductName)
                          td3.text(value.Quantity)
                          td4.append(button)

                          tr.append(td1).append(td2).append(td3).append(td4)

                          $('#table_orderDetail').append(tr)

                      })

                  })
              $("#opener").remove();
              var newButton = $('<input style="position:relative ;left:800px" id="opener" type="button" value="新增" class="btn btn-success" />')

              $('#dialog').append(newButton);

          })
          */
    </script>
    @*訂單詳細資料*@
    <script>
        //function DrderDetail_table () {
        //    var id = $(this).attr('data-orderId');
        //    $('#table_orderDetail').children().remove();

        //    $.get("/Home/order_Detail", { orderID: id },
        //        function (datas) {

        //            $(datas).each(function (idx, value) {


        //                var tr = $('<tr></tr>')
        //                var td1 = $('<td></td>')
        //                var td2 = $('<td></td>')
        //                var td3 = $('<td><input type="number" value="" /></td>')
        //                var td4 = $('<td class="td_Fix"></td>')
        //                var button = $('<input type="button"class="btn btn-danger btn_Fix"  value="修改"  data-OrderID="' + value.OrderID + '" data-OrderDetailID ="' + value.Order_Detail_ID + '"/>')

        //                td1.text(value.OrderID)
        //                td2.text(value.ProductName)
        //                td3.text(value.Quantity)
        //                td4.append(button)

        //                tr.append(td1).append(td2).append(td3).append(td4)

        //                $('#table_orderDetail').append(tr)

        //            })

        //        })

        //    var newButton = $('<input style="position:relative ;left:800px" id="Add" type="button" value="新增" class="btn btn-success" />')

        //    $('#dialog').append(newButton);

        //}
    </script>

    <script>
        $('#tbody_For_Order').on('click', '.btn_orderDetail', function () {
            var id = $(this).attr('data-orderId');
            $('#table_orderDetail').children().remove();
            $('#Add').remove();
            $.get("/Pick/order_Detail", { orderID: id },
                function (datas) {

                    $(datas).each(function (idx, value) {


                        var tr = $('<tr></tr>')
                        var td1 = $('<td></td>')
                        var td2 = $('<td></td>')
                        var td3 = $('<td><input type="number" value="" /></td>')
                        var td4 = $('<td class="td_Fix"></td>')
                        var button = $('<input type="button"class="btn btn-danger btn_Fix"  value="修改"  data-OrderID="' + value.OrderID + '" data-OrderDetailID ="' + value.Order_Detail_ID + '"/>')

                        td1.text(value.OrderID)
                        td2.text(value.ProductName)
                        td3.text(value.Quantity)
                        td4.append(button)

                        tr.append(td1).append(td2).append(td3).append(td4)

                        $('#table_orderDetail').append(tr)

                    })

                })
            console.log($(this).attr('data-OrderDetailID'))

            var newButton = $('<input id="Add" type="button" value="新增" class="btn btn-success" data-OrderID ="' + $(this).attr('data-OrderID') + '" />')

            $('#dialog').append(newButton);
        })
    </script>


    @*//頁簽可撿貨AJAX*@
    <script>

        let textstatus
        $('#CanDrive').click(function () {
            $('#tbody_For_Order').children().remove();
            $.get("/Pick/Ajax_Pick", function (datas) {
                console.log(datas);

                $(datas).each(function (idx, value) {
                    console.log(value.Status);
                    if (value.Status == 'C') {
                        textstatus = "可揀貨"
                    }
                    else { textstatus = "揀貨中" }

                    console.log(value.OrderID);
                    var tr = $('<tr></tr>')
                    var td1 = $('<td>' + value.OrderID + '</td>')
                    var td2 = $('<td>' + value.RequiredDate + '</td>')
                    var td3 = $('<td>' + textstatus + '</td>')
                    var td4 = $('<td><input type="button" class="btn btn-success orderPick" value="揀貨" data-orderPick="' + value.OrderID + '" /><input type="button" class="btn btn-danger btn_orderDetail" value="詳細資料..." data-orderId="' + value.OrderID + '" /></td>')



                    tr.append(td1).append(td2).append(td3).append(td4)
                    $('#tbody_For_Order').append(tr)
                })
            })

        })
    </script>

    @*//揀貨按鈕*@
    <script>

        $('#tbody_For_Order').on("click", '.orderPick', function () {
            alert("123")
        })
    </script>

    @*//詳細資料裡的修改*@
    <script>

        $('#dialog').on("click", '.btn_Fix', function () {
            console.log($(this).attr('data-OrderID'));
            console.log($(this).attr('data-OrderDetailID'));
            var id = $(this).attr('data-OrderDetailID');
            $('#table_orderDetail').children().remove();
            $("#Add").remove();

            $.get("/Pick/order_Detail_Fix", { order_detail_id: id },
                function (datas) {
                    console.log(datas);
                    $(datas).each(function (idx, value) {

                        var tr = $('<tr></tr>')
                        var td1 = $('<td></td>')
                        var td2 = $('<td></td>')
                        var td3 = $('<td> <input textbox type="number"  class = "form-control" value="' + value.Quantity + '" /></td>')
                        var td4 = $('<td class="td_Fix"></td>')
                        var button_commint = $('<input type="button"class="btn btn-success btn-confirm"  value="確認"  data-OrderID = "' + value.OrderID + '" data-OrderDetailID="' + value.Order_Detail_ID + '"/><input type="button" class="btn btn-secondary btn-cancle" value="取消" data-OrderID = "' + value.OrderID + '" data-OrderDetailID="' + value.Order_Detail_ID + '"/>')


                        td1.text(value.OrderID)
                        td2.text(value.ProductName)
                        td4.append(button_commint)

                        tr.append(td1).append(td2).append(td3).append(td4)

                        $('#table_orderDetail').append(tr)

                    })

                })

        })

        //確認按鈕
        $('#dialog').on('click', '.btn-confirm', function () {
           // console.log((this));
            //  console.log($(this).parent().prevAll().eq(2).text());
           // console.log($(this).attr('data-OrderDetailID'))
            //console.log($(this).parent().prevAll().eq(0).children().eq(0).val())

            $.post('/Pick/order_Detail_Update', {
                Orderdetail_ID: $(this).attr('data-OrderDetailID'),
                Quantity: $(this).parent().prevAll().eq(0).children().eq(0).val()
            }, function (data) {
                alert("更新成功!")
                })

        })

        //取消按鈕
        $('#dialog').on('click', '.btn-cancle', function () {
            var id = $(this).attr('data-orderId');
            $('#table_orderDetail').children().remove();
            $('#Add').remove();
            var newButton = $('<input id="Add" type="button" value="新增" class="btn btn-success" data-OrderID ="' + $(this).attr('data-orderID') +'" />')

            $('#dialog').append(newButton);
            console.log($(this).attr('data-orderID'));
            $.get("/Pick/order_Detail", { orderID: id },
                function (datas) {

                    $(datas).each(function (idx, value) {


                        var tr = $('<tr></tr>')
                        var td1 = $('<td></td>')
                        var td2 = $('<td></td>')
                        var td3 = $('<td><input type="number" value="" /></td>')
                        var td4 = $('<td class="td_Fix"></td>')
                        var button = $('<input type="button"class="btn btn-danger btn_Fix"  value="修改"  data-OrderID="' + value.OrderID + '" data-OrderDetailID ="' + value.Order_Detail_ID + '"/>')

                        td1.text(value.OrderID)
                        td2.text(value.ProductName)
                        td3.text(value.Quantity)
                        td4.append(button)

                        tr.append(td1).append(td2).append(td3).append(td4)

                        $('#table_orderDetail').append(tr)

                    })


                })
        })
        $('#dialog').on('click', '#Add', function () {
            var tr = $('<tr></tr>');
            var td1 = $('<td></td>');
            var td2 = $('<td></td>');
            var select = $('<select class="custom-select"><option selected>請選擇品項</option></select>')
            $.get(("/Pick/order_Detail_Add"), function (datas) {
                $(datas).each(function (idx, values) {
                    var options = $(' <option value="' + values.ProductID + '">' + values.ProductName + '</option>')
                    $(select).append(options);
                })

            })
            var td3 = $('<td><input type = "number" class = "form-control"></td>')
            var td4 = $('<td><input type = "button" class = "btn btn-primary" value ="確定"><input type = "button" class = "btn btn-danger" value ="取消"></td>')

            td1.text($(this).attr('data-OrderID'))
            $(td2).append(select);
            $(tr).append(td1).append(td2).append(td3).append(td4);
            $('#table_orderDetail').append(tr);
        })
    </script>



}
