
@{
    ViewBag.Title = "EnterStock";
}

@*存貨輸入欄位*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4>存貨輸入</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-1">
                <label>酒莊：</label>
            </div>
            <div class="col-sm-4">
                <select id="winery" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1">
                <label>種類：</label>
            </div>
            <div class="col-sm-4">
                <select id="category" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1">
                <label>品名：</label>
            </div>
            <div class="col-sm-2">
                <select id="product" class="form-control"></select>
            </div>
            <div class="col-sm-1">
                <label>容量：</label>
            </div>
            <div class="col-sm-2">
                <select id="milliliter" class="form-control"></select>
            </div>
            <div class="col-sm-1">
                <label>數量：</label>
            </div>
            <div class="col-sm-3">
                <input id="count" type="number" class="form-control" style="width:40%" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1">
                <label>貨架：</label>
            </div>
            <div class="col-sm-4">
                <select id="shelf" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1">
                <label>備註：</label>
            </div>
            <div class="col-sm-4">
                <input id="note" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1">
                <button id="CreateBtn" class="btn btn-primary">新增</button>
            </div>
        </div>
    </div>
</div>

@*新增列表*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4>新增列表</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>序號</th>
                    <th>種類</th>
                    <th>品名</th>
                    <th>容量</th>
                    <th>數量</th>
                    <th>貨架</th>
                    <th>備註</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody id="tb"></tbody>
        </table>
        <hr />
        <div class="form-inline">
            <div class="shadow p-3 mb-5 bg-white rounded" @*style="background-color:#D2E9FF"*@>
                <span><span id="wineryspan"></span>存貨</span>
            </div>
            <div style="margin-left:10px;">
                <input id="send" type="button" class="btn btn-primary" value="送出" style="margin-bottom:20px;" />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var x = 1;
        //新增按鈕
        $("#CreateBtn").click(function () {
            var winery = $("#winery option:selected");
            var category = $("#category option:selected");
            var product = $("#product option:selected");
            var milliliter = $("#milliliter option:selected");
            var count = $("#count");
            var shelf = $("#shelf option:selected");
            var note = $("#note");
            if (caveat(winery, category, product, milliliter, count, shelf)) {
                $.get("@Url.Action("CreateBtn", "EnterStock")",
                    {
                        'winery': $("#winery").val(),
                        'category': $("#category").val(),
                        'product': $("#product").val(),
                        'milliliter': $("#milliliter").val(),
                        'count': $("#count").val(),
                        'shelf': $("#shelf").val(),
                        'note': $("#note").val()
                    }, function (datas) {
                        var eletr = $("<tr></tr>");
                        eletr.attr('id', x);
                        if (note.val() != null) {
                            var eleNote = $("<td></td>").text(note.val());
                        }
                        else {
                            var eleNote = $("<td></td>");
                        }
                        var eleMilliliterID = $("<td></td>").text(milliliter.text() + ' ml');
                        var eleProduct = $("<td></td>").text(product.text());
                        var eleQuantity = $("<td></td>").text(count.val());
                        var eleCategoryID = $("<td></td>").text(category.text());
                        var eleShelfID = $("<td></td>").text(shelf.text());
                        var eleCount = $("<td></td>").text(x++);
                        var eleBtn = $("<td><button id='btn_delete' type='button' class='btn btn-danger'><span class='fa fa-trash'></span>&nbsp;刪除</button></td>")
                        eletr.append(eleCount).append(eleCategoryID).append(eleProduct).append(eleMilliliterID).append(eleQuantity).append(eleShelfID).append(eleNote).append(eleBtn);
                        $("#tb").append(eletr);
                    })
            }
        })

        //刪除按鈕
        $('#tb').on('click','#btn_delete',function () {
            var r = $(this).parents("tr");
            var id = r.attr('id');
            $.post("@Url.Action("DelSession","EnterStock")",
                {
                    'Id': id
                }, function (datas) {

            })
            r.remove();
    })

        //下拉式選單未選擇的提示訊息
        function caveat(winery, category, product, milliliter, count, shelf) {
            if (winery.val() == 0) {
                alert("請選擇酒莊");
                return false;
            }
            if (category.val() == 0) {
                alert("請選擇產品分類");
                return false;
            }
            if (product.val() == 0) {
                alert("請選擇產品名稱");
                return false;
            }
            if (milliliter.val() == 0) {
                alert("請選擇容量");
                return false;
            }
            if (count.val() == "" || isNaN(count.val()) || count.val() <= 0) {
                alert("請輸入數量");
                return false;
            }
            if (shelf.val() == 0) {
                alert("請選擇貨架區域");
                return false;
            }
            return true;
        }

    //選擇類別，改變對應的Product
    $('#category').change(function () {
        var category = $("#category").val();
        productchange(category);
    })

    function productchange(category) {
        $.post("@Url.Action("SelectProduct", "EnterStock")",
            {
                'category': category
            }, function (datas) {
                $('#product').empty();
                $("#product").append($('<option></option>').text("--請選擇--").val(0));
            $.each(datas, function (i, data) {
                var eleProductName = $('<option></option>');
                eleProductName.text(data.ProductName);
                eleProductName.val(data.ProductID);
                $("#product").append(eleProductName);
            })
        })
        }

        $('#product').change(function () {
            var productid = $(this).val();
            shelfchange(productid);
        })

        function shelfchange(productid) {
            $('#shelf').empty();
            if (productid != 0) {
                $.post("@Url.Action("SelectShelfChange", "EnterStock")",
                    { 'id': productid },
                    function (datas) {
                        
                        $.each(datas, function (i, data) {
                            var eleShelf = $('<option></option>');
                            eleShelf.text(data.ShelfPosition);
                            eleShelf.val(data.ShelfID);
                            $("#shelf").append(eleShelf);
                        })
                        $('#shelf option[value="' + datas + '"]').attr("selected", true)
                    })
            }
            else {
                $.post("@Url.Action("SelectShelf", "EnterStock")",
                    function (datas) {
                        $("#shelf").append($('<option></option>').text("--請選擇--").val(0));
                        $.each(datas, function (i, data) {
                            var eleShelf = $('<option></option>');
                            eleShelf.text(data.ShelfPosition);
                            eleShelf.val(data.ShelfID);
                            $("#shelf").append(eleShelf);
                        })
                    })
            }
        }

    //送出按鈕
        $('#send').on('click', function () {
            var winerytxt = $('#winery option:selected').text();
            var r = confirm( winerytxt + "-庫存存入");
            if (r == true) {
                $.post("@Url.Action("InsertStock", "EnterStock")", function (data) {
                    if (data != "0") {
                        alert(data);
                    }
                    else {
                        location.reload();
                    }
                })
            }
        })

    //酒莊選擇，更改span文字
    $('#winery').change(function () {
        var winery = $('#winery').val();
        winerychange(winery);
    })
    function winerychange(winery) {
        var winerytxt = $('#winery option:selected').text();

        if (winery != 0) {
            $('#wineryspan').text(winerytxt + "-");
        }
    }

    //一開始的顯示
    function start() {
        $.post("@Url.Action("SelectWinery","EnterStock")", function (datas) {
            $("#winery").append($('<option></option>').text("--請選擇--").val(0));
            $.each(datas, function (i, data) {
                var eleWineryName = $('<option></option>');
                eleWineryName.text(data.WineryName);
                eleWineryName.val(data.WineryID);
                $("#winery").append(eleWineryName);
            })
        })
        $.post("@Url.Action("SelectCategory", "EnterStock")", function (datas) {
            $("#category").append($('<option></option>').text("--請選擇--").val(0));
            $.each(datas, function (i, data) {
                var eleCategory = $('<option></option>');
                eleCategory.text(data.CategoryName);
                eleCategory.val(data.CategoryID);
                $("#category").append(eleCategory);
            })
        })
        $.post("@Url.Action("SelectMilliliter", "EnterStock")", function (datas) {
            $("#milliliter").append($('<option></option>').text("--請選擇--").val(0));
            $.each(datas, function (i, data) {
                var eleMilliliter = $('<option></option>');
                eleMilliliter.text(data.MilliliterName);
                eleMilliliter.val(data.MilliliterID);
                $("#milliliter").append(eleMilliliter);
            })
        })
        shelfchange(0);
        productchange(0);
    }

    $(function () {
        start();
    })
    </script>
}
