@model EntityModels.Members

@{
    ViewBag.Title = "EditPassWord";
    List<SelectListItem> list = new List<SelectListItem>
{
new SelectListItem{Text="酒莊" ,Value="0"},
new SelectListItem { Text = "員工", Value = "1" }
};
}

<h2>修改密碼</h2>


@using (Html.BeginForm("",""))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>帳戶資訊</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AccountID)

    <div class="form-group">
        @Html.LabelFor(model => model.fAccount,"帳號", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-4">
            @Html.EditorFor(model => model.fAccount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fAccount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fPassWord, "密碼", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-4">
            @Html.EditorFor(model => model.fPassWord, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fPassWord, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-4">
            <input id="submit" type="submit" value="送出" class="btn btn-warning" />
        </div>
    </div>
</div>
   
    
}

<div>
    @Html.ActionLink("回到選單", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
