@model WebApplication2.Models.Account
@{
    ViewBag.Title = null;
    Layout = null;
}

<head>
    <link href="~/Content/css/LoginStyleSheet.css" rel="stylesheet" type="text/css">
    <style>
        .first {
            font-family: "Arial","Microsoft YaHei","黑體","宋體",sans-serif;
            font-size: 26px;
            color: #9b9b9b
        }
    </style>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                德義後勤
            </div>
            <!-- Login Form -->
            <div id="mess" style="color:#7700BB">
                @ViewBag.message
            </div>

            <div class="row">
                <div class="col-sm-4 form-group d-block fa-border-all body-content">
                    <form id="loginForm" action="" method="post">
                        @using (Html.BeginForm("LoginPage", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "account" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>@Html.Encode(User.Identity.Name)</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Account1, "帳號", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-4" id="name1">
                                    @Html.EditorFor(model => model.Account1, new { htmlAttributes = new { @class = "form-control ", @id = "login", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Account1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, "密碼", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-4" id="password1">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "password", @required = "required", style = "-webkit-text-security:circle" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-4">
                                    <input id="submit" type="submit" value="登入" class="btn btn-danger" />
                                </div>
                            </div>

                        }
                    </form>
                </div>
            </div>
            @*<input type="text" id="login" class="fadeIn second" name="login" placeholder="請輸入帳號">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="請輸入密碼">
        <input type="submit" class="fadeIn fourth" value="登入">*@

            <!-- Remind Passowrd -->
            @*<div id="formFooter">
            <a class="underlineHover" href="#">修改密碼</a>
        </div>*@
        </div>
    </div>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>



    <script>  
        $('#submit').click(function () {
            if ($("#login").val() == "" || $("#passwword").val() == null) {
                //alert("請輸入帳號/密碼,帳號/密碼不可為空白!")
               
                //$(this).css("background-color","red")        
            }
        })
        //$('#password').focusout(function () {
        //    if ($(this).val() == "" || $(this).val() == null) {
        //          alert("請輸入密碼,密碼不可為空白!");
        //    }
        //})


       
    </script>

</body>